
<!--    <div class="widget-phone-wrap">-->
<!--        <button data-fancybox data-type="ajax" class="widget-phone compensate-for-scrollbar" data-src="forms/modal-widget-phone.html">-->
<!--            <span class="widget2-circles"><svg><use xlink:href="img/sprite.svg#phone"></use></svg></span>-->
<!--        </button>-->
<!--    </div>-->

<!--<div class="cookie-warning">-->
<!--    <div>На сайте используются файлы cookies, а также системы Яндекс.Метрика и Google Analytics. Продолжая использовать сайт вы даете согласие на работу с этими данными.<a href="/soglasie/" target="_blank">Подробнее</a></div>-->
<!--    <button class="button cookie-warning__btn">Хорошо</button>-->
<!--</div>-->

<div id="preloader"><span class="spinner"></span></div>