<div class="features-bg section section_mb-sm">
    <div class="container">

        <div class="title-wrapper">
            <div class="h2">ВЫБИРАЙТЕ ФОБОС</div>
            <div class="sub-title">Надежный спутник на рынке труда</div>
        </div>

        <div class="grid-flex justify-content-center mb" style="--col-xl:4;--col-lg:3;--col-sm:2;--col:1;">

            <div class="features-bg__item" data-bg="img/features-bg-img1.webp">
                <div class="features-bg__text-container">
                    <div class="features-bg__title">Подбор<br> подходящих вакансий</div>
                    <div class="features-bg__text">Руководство Компании вовлечено в процесс повышения производительности и уровня дохода сотрудников</div>
                </div>
            </div>

            <div class="features-bg__item" data-bg="img/features-bg-img2.webp">
                <div class="features-bg__text-container">
                    <div class="features-bg__title">Конкурентная заработная плата</div>
                    <div class="features-bg__text">Руководство Компании вовлечено в процесс повышения производительности и уровня дохода сотрудников</div>
                </div>
            </div>

            <div class="features-bg__item" data-bg="img/features-bg-img3.webp">
                <div class="features-bg__text-container">
                    <div class="features-bg__title">Компенсация затрат на проезд из других регионов</div>
                    <div class="features-bg__text">Руководство Компании вовлечено в процесс повышения производительности и уровня дохода сотрудников</div>
                </div>
            </div>

            <div class="features-bg__item" data-bg="img/features-bg-img4.webp">
                <div class="features-bg__text-container">
                    <div class="features-bg__title">Жильё<br> для иногородних</div>
                    <div class="features-bg__text">Руководство Компании вовлечено в процесс повышения производительности и уровня дохода сотрудников</div>
                </div>
            </div>

            <div class="features-bg__item" data-bg="img/features-bg-img5.webp">
                <div class="features-bg__text-container">
                    <div class="features-bg__title">Охрана труда. Медицинские осмотры</div>
                    <div class="features-bg__text">Руководство Компании вовлечено в процесс повышения производительности и уровня дохода сотрудников</div>
                </div>
            </div>

            <div class="features-bg__item" data-bg="img/features-bg-img6.webp">
                <div class="features-bg__text-container">
                    <div class="features-bg__title">Миграционный<br> учёт</div>
                    <div class="features-bg__text">Руководство Компании вовлечено в процесс повышения производительности и уровня дохода сотрудников</div>
                </div>
            </div>

            <div class="features-bg__item" data-bg="img/features-bg-img7.webp">
                <div class="features-bg__text-container">
                    <div class="features-bg__title">Система обучения<br> и наставничества</div>
                    <div class="features-bg__text">Руководство Компании вовлечено в процесс повышения производительности и уровня дохода сотрудников</div>
                </div>
            </div>

            <div class="features-bg__item" data-bg="img/features-bg-img8.webp">
                <div class="features-bg__text-container">
                    <div class="features-bg__title">Благополучие сотрудников</div>
                    <div class="features-bg__text">Руководство Компании вовлечено в процесс повышения производительности и уровня дохода сотрудников</div>
                </div>
            </div>

        </div>
    </div>
</div>