<footer class="footer">
    <div class="container">

        <div class="footer__grid">
            <div class="footer__wrapper">
                <a class="footer__logo" href="/"><img src="img/logo.webp" width="285" height="60" class="img-fluid" alt=""></a>
                <div class="footer__descr"><svg width="24" height="24"><use xlink:href="img/sprite.svg#shield-ok"></use></svg> Аккредитованное<br> частное агентство занятости</div>
            </div>
            <div class="footer__slogan">Надежный спутник на рынке труда</div>
        </div>

        <div class="footer__grid2">

            <div class="footer__address">
                <div class="footer__address-title"><svg width="24" height="24"><use xlink:href="img/sprite.svg#location"></use></svg> Работаем по всей России</div>

                <div class="footer__address-list">
                    <a href="#" class="footer__address-link">г. Тверь, наб. Афанасия Никитина, д.144, 2 эт.</a>
                    <a href="#" class="footer__address-link">г. Торжок, ул. Красный городок, д.1</a>
                    <a href="#" class="footer__address-link">г. Санкт-Петербург, Ленинский пр-кт, д.168, оф.504, 5 эт.</a>
                    <a href="#" class="footer__address-link">г. Брянск, ул. Ульянова, д.16, оф.9, 2 эт.</a>
                    <a href="#" class="footer__address-link">г. Ростов-на-Дону, ул. Береговая, д.10, 4 эт.</a>
                    <a href="#" class="footer__address-link">г. Новочеркасск, ул. Московская, д.6, оф.2, 2 эт.</a>
                    <a href="#" class="footer__address-link">г. Киров, ул. Горьково, д.5, оф.702, 7 эт.</a>
                </div>
            </div>

            <address class="footer__contacts">
                <div>
                    <a href="tel:+79157324044" class="footer__contacts-link footer__phone nowrap" title="Позвонить">8 (903) 630-38-83</a>
                    <div class="footer__contacts-text-sm">Телефоны для соискателей</div>
                </div>

                <a href="mailto:tver-fobos@mail.ru" class="footer__contacts-link footer__email nowrap" title="Написать письмо"><svg width="24" height="24"><use xlink:href="img/sprite.svg#email"></use></svg> tver-fobos@mail.ru</a>
                <div class="footer__contacts-text-sm">Пн.-Пт с 09:00 - 18:00</div>
                <button  class="footer__contacts-link" data-fancybox data-type="ajax" data-src="forms/modal-form.html"><svg width="24" height="24"><use xlink:href="img/sprite.svg#phone"></use></svg> Обратный звонок</button>

                @@include('socials/socials-messengers.html', { "class": "socials_desktop socials_footer" })
            </address>

            <nav class="footer-menu footer-menu_width">
                <ul class="footer-menu__list">
                    <li class="footer-menu__item"><span class="footer-menu__link footer-menu__link_selected">Главная</span></li>
                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">О компании</a></li>
                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">Услуги</a></li>
                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">Вакансии</a></li>
                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">Контакты</a></li>
                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">Политика конфиденциальности</a></li>
                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">Согласие на обработку персональных данных</a></li>
                </ul>
            </nav>

            <nav class="footer-menu">
                <ul class="footer-menu__list">
                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">Вакансии в Твери</a></li>
                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">Вакансии в Торжке</a></li>
                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">Вакансии в Санкт-Петербурге</a></li>
                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">Вакансии в Брянске</a></li>
                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">Вакансии в Ростове-на-Дону</a></li>
                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">Вакансии в Новочеркасске</a></li>
                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">Вакансии в Кирове</a></li>
                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">Вакансии в Сафоново</a></li>
                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">Вакансии в Пушкино</a></li>
                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">Вакансии в Солнечногорске</a></li>
                </ul>
            </nav>

        </div>

        <div class="footer__grid3">
            <div class="footer__text">
                <p>Обращаем ваше внимание на то, что вся информация (включая цены) на этом интернет-сайте носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) ГК РФ. Компания оставляет за собой право в любое время без специального уведомления вносить изменения, удалять, исправлять, дополнять, либо любым иным способом обновлять информацию, размещенную во всех разделах данного сайта. Для получения подробной информации о стоимости, сроках и условиях поставки просьба обращаться по указанным на сайте телефонам.</p>
                <p>
                    Использование любых материалов сайта в коммерческих целях разрешено только с письменного согласия владельцев ресурса.<br>
                    Узнать подробнее условия использования сайта. © «ФОБОС», 2024 | <a href="#">Карта сайта</a>
                </p>
            </div>
            <a href="https://mastweb.ru/" target="_blank" class="footer__mastweb">
                Разработка и реклама сайта
                <svg width="173" height="40"><use xlink:href="img/sprite.svg#mastweb"></use></svg>
            </a>
        </div>

    </div>
</footer>