<div class="features-reputation section">
    <div class="container">

        <div class="grid-flex justify-content-center" style="--col-lg:3;--col-md:2;--col-sm:1;--col:1;">

            <div class="features-reputation__item">
                <div class="features-reputation__item-wrapper">
                    <div class="features-reputation__title">Надежность</div>
                    <div class="features-reputation__img-container">
                        <img src="img/features-reputation1.svg" width="66" height="66" class="features-reputation__img img-fluid" alt="" loading="lazy">
                    </div>
                </div>

                <div class="features-reputation__text text-elements">
                    <ul>
                        <li>Мы являемся прямым работодателем</li>
                        <li>Клиенты нашей компании - серьёзные предприятия</li>
                        <li>Трудовые гарантии, официальная занятость</li>
                    </ul>
                </div>
            </div>

            <div class="features-reputation__item">
                <div class="features-reputation__item-wrapper">
                    <div class="features-reputation__title">Мобильность</div>
                    <div class="features-reputation__img-container">
                        <img src="img/features-reputation2.svg" width="70" height="70" class="features-reputation__img img-fluid" alt="" loading="lazy">
                    </div>
                </div>

                <div class="features-reputation__text text-elements">
                    <ul>
                        <li>Возможность менять место работы и не искать его самому</li>
                        <li>Возможность выбора наиболее удобного графика</li>
                    </ul>
                </div>
            </div>

            <div class="features-reputation__item">
                <div class="features-reputation__item-wrapper">
                    <div class="features-reputation__title">Перспективы</div>
                    <div class="features-reputation__img-container">
                        <img src="img/features-reputation3.svg" width="70" height="70" class="features-reputation__img img-fluid" alt="" loading="lazy">
                    </div>
                </div>

                <div class="features-reputation__text text-elements">
                    <ul>
                        <li>Обучение новым профессиям</li>
                        <li>Приобретение опыта, необходимого для дальнейшей трудовой карьеры</li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>