<nav class="vertical-menu">
    <ul class="vertical-menu__list">
        <li class="vertical-menu__item vertical-menu__item_active">
            <a href="#" class="vertical-menu__link"><span>Вакансии в Твери</span></a>
        </li>
        <li class="vertical-menu__item">
            <a href="#" class="vertical-menu__link"><span>Вакансии в Торжке</span></a>
        </li>
        <li class="vertical-menu__item">
            <a href="#" class="vertical-menu__link"><span>Вакансии в Санкт-Петербурге</span></a>
        </li>
        <li class="vertical-menu__item">
            <a href="#" class="vertical-menu__link"><span>Вакансии в Брянске</span></a>
        </li>
        <li class="vertical-menu__item">
            <a href="#" class="vertical-menu__link"><span>Вакансии в Ростове на Дону</span></a>
        </li>
        <li class="vertical-menu__item">
            <a href="#" class="vertical-menu__link"><span>Вакансии в Новочеркасске</span></a>
        </li>
        <li class="vertical-menu__item">
            <a href="#" class="vertical-menu__link"><span>Вакансии в Кирове</span></a>
        </li>
        <li class="vertical-menu__item">
            <a href="#" class="vertical-menu__link"><span>Вакансии в Сафоново</span></a>
        </li>
        <li class="vertical-menu__item">
            <a href="#" class="vertical-menu__link"><span>Вакансии в Пушкино</span></a>
        </li>
        <li class="vertical-menu__item">
            <a href="#" class="vertical-menu__link"><span>Вакансии в Солнечногорске</span></a>
        </li>
    </ul>
</nav>