@mixin navigation {
  .swiper-button-prev-custom,
  .swiper-button-next-custom{
    --slider-button-width: 40px;
    --slider-button-height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--slider-button-width);
    height: var(--slider-button-height);
    z-index: 10;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: var(--shadow);
    svg{
      width: 24px;
      height: 24px;
      use{
        stroke: var(--color-primary-600);
        transition: stroke 0.1s ease-in-out;
      }
    }
    &:hover{
      background-color: var(--color-primary-600);
      svg use{
        stroke: #fff;
      }
    }
    &:active{
      background-color: #fff;
      svg use{
        stroke: var(--color-primary-600);
      }
    }
  }

  .swiper-button-next-custom{
    transform: scale(-1, 1);
  }
}