<meta charset="utf-8">
<!--<base href="http://site.ru/">-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<title>@@title</title>

@@include('_base/header/head-css.html')

<meta name="description" content="@@description">
<meta property='og:title' content='@@title'>
<meta property='og:image' content='img/temp/catalog-uslugi-img.webp'>
<meta property="og:type" content="website">
<meta property="og:url" content= "/">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--<meta name="theme-color" content="#CCCCCC">--><!-- Custom Browsers Color -->

<!-- Favicons -->
<link rel="icon" href="favicon.ico" sizes="32x32">
<link rel="icon" href="img/favicons/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon-180x180.png">
<link rel="manifest" href="manifest.webmanifest">