<div class="cta1 section section_p-sm section_bg section_bg-no-repeat" data-bg="img/cta1-bg.webp">
    <div class="container">
        <div class="h2">РАБОТА В ФОБОС</div>
        <div class="cta1__grid">

            <div class="cta1__text-container">
                <div class="cta1__title">Гарантии для работника</div>
                <div class="cta1__text text-elements">
                    <ul>
                        <li>Предоставляем работу в течение 3-х дней</li>
                        <li>Официальное трудоустройство (оформление с первого рабочего дня)</li>
                        <li>Гарантия своевременной выплаты заработной платы</li>
                        <li>Медкомиссия для устройства на работу</li>
                        <li>Бесплатное жилье</li>
                        <li>Корпоративный транспорт</li>
                    </ul>
                </div>
            </div>

            <div class="cta1__contacts">
                <img src="img/cta1-ico.svg" class="cta1__ico img-fluid" width="50" height="50" alt="">
                <div class="cta1__contacts-title">
                    <div class="cta1__contacts-title-bold">Оставьте ваши контакты</div>
                    наш менеджер свяжется с Вами<br>
                    в ближайшее время
                </div>
                <button data-fancybox data-type="ajax" data-src="forms/modal-form.html" class="cta1__button button">Записаться на собеседование <svg width="22" height="22"><use xlink:href="img/sprite.svg#pencil"></use></svg></button>
            </div>

        </div>
    </div>
</div>