.cta2{
  background-color: var(--color-secondary-200);
  position: relative;
  z-index: 0;
}

.cta2__container{
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 767px) {
    justify-content: center;
  }

  aspect-ratio: 1320/260;

  position: relative;
}

.cta2__title{
  color: var(--color-text-800);
  text-transform: inherit;
  margin-bottom: 10px!important;
  @media only screen and (max-width: 767px) {
    text-align: center;
  }
}

.cta2__flex{
  display: flex;
  gap: 15px 75px;
  align-items: center;
  @media only screen and (max-width: 991px) {
    gap: 15px 30px;
  }
  @media only screen and (max-width: 767px) {
    flex-direction: column;
    text-align: center;
  }
}

.cta2__title2{
  color: var(--color-secondary-800);
  margin-bottom: 0!important;
}

.cta2__img{
  @media only screen and (max-width: 767px) {
    display: none;
  }
  z-index: -1;
  aspect-ratio: 630 / 260;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  clip-path: polygon(20% 0%, 100% 0%, 80.4% 100%, 0% 100%);
  &:before,
  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary-100);
    opacity: 0.6;
  }
  &:before{
    clip-path: polygon(14.3% 0%, 23% 0%, 3.2% 100%, 0% 100%);
  }
  &:after{
    clip-path: polygon(100% 0%, 96.5% 0%, 76.9% 100%, 100% 100%);
  }
}