<div class="slider-form section section_mb">
    <div class="container">

        <div class="title-wrapper">
            <div class="h2">ПОДБОР ВАКАНСИИ</div>
            <div class="sub-title">Ответьте на 6 простых вопросов и мы предложим подходящую Вам вакансию</div>
        </div>

        <div class="slider-form__wrapper">
            <div class="slider-form__wrapper2">
                <div class="swiper">
                    <div class="swiper-wrapper">

                        <div class="slider-form__item swiper-slide">
                            <img src="img/slider-form-img1.webp" class="slider-form__img img-fluid" width="600" height="370" alt="" loading="lazy">
                            <div class="slider-form__item-wrapper">

                                <div class="slider-form__item-wrapper2">
                                    <div class="swiper-pagination-fraction"></div>
                                    <div class="slider-form__pagination"></div>
                                    <div class="slider-form__title">Из какого города собираетесь приехать?</div>
                                    <div class="slider-form__input-wrapper">
                                        <input type="text" id="field_city" placeholder="Введите город" class="form-control">
                                    </div>
                                </div>

                                <div class="slider-form__nav">
                                    <button class="slider-form__button-prev slider-form__button button2">
                                        <svg width="17" height="16"><use xlink:href="img/sprite.svg#arr"></use></svg>
                                        Вернуться
                                    </button>
                                    <button class="slider-form__button-next slider-form__button button">
                                        Продолжить
                                        <svg width="17" height="16"><use xlink:href="img/sprite.svg#arr"></use></svg>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="slider-form__item swiper-slide">
                            <img src="img/slider-form-img2.webp" class="slider-form__img img-fluid" width="600" height="370" alt="" loading="lazy">
                            <div class="slider-form__item-wrapper">

                                <div class="slider-form__item-wrapper2">
                                    <div class="swiper-pagination-fraction"></div>
                                    <div class="slider-form__pagination"></div>
                                    <div class="slider-form__title">Город, где хотите работать</div>
                                    <div class="slider-form__radio-wrapper">

                                        <div class="slider-form__radio-column">
                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_city2" class="radio__input" checked>
                                                <span class="radio__ico"></span>
                                                Тверь
                                            </label>

                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_city2" class="radio__input">
                                                <span class="radio__ico"></span>
                                                Торжок
                                            </label>

                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_city2" class="radio__input">
                                                <span class="radio__ico"></span>
                                                Санкт-Петербург
                                            </label>

                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_city2" class="radio__input">
                                                <span class="radio__ico"></span>
                                                Сафоново
                                            </label>
                                        </div>

                                        <div class="slider-form__radio-column">
                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_city2" class="radio__input">
                                                <span class="radio__ico"></span>
                                                Брянск
                                            </label>

                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_city2" class="radio__input">
                                                <span class="radio__ico"></span>
                                                Ростов-на-Дону
                                            </label>

                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_city2" class="radio__input">
                                                <span class="radio__ico"></span>
                                                Новочеркасск
                                            </label>

                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_city2" class="radio__input">
                                                <span class="radio__ico"></span>
                                                Киров
                                            </label>
                                        </div>

                                        <div class="slider-form__radio-column">
                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_city2" class="radio__input">
                                                <span class="radio__ico"></span>
                                                Пушкино
                                            </label>

                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_city2" class="radio__input">
                                                <span class="radio__ico"></span>
                                                Солнечногорск
                                            </label>
                                        </div>

                                    </div>
                                </div>

                                <div class="slider-form__nav">
                                    <button class="slider-form__button-prev slider-form__button button2">
                                        <svg width="17" height="16"><use xlink:href="img/sprite.svg#arr"></use></svg>
                                        Вернуться
                                    </button>
                                    <button class="slider-form__button-next slider-form__button button">
                                        Продолжить
                                        <svg width="17" height="16"><use xlink:href="img/sprite.svg#arr"></use></svg>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="slider-form__item swiper-slide">
                            <img src="img/slider-form-img3.webp" class="slider-form__img img-fluid" width="600" height="370" alt="" loading="lazy">
                            <div class="slider-form__item-wrapper">

                                <div class="slider-form__item-wrapper2">
                                    <div class="swiper-pagination-fraction"></div>
                                    <div class="slider-form__pagination"></div>
                                    <div class="slider-form__title">Укажите ваше гражданство</div>
                                    <div class="slider-form__radio-wrapper">
                                        <div class="slider-form__radio-column">
                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_citizenship" class="radio__input" checked>
                                                <span class="radio__ico"></span>
                                                РФ
                                            </label>

                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_citizenship" class="radio__input">
                                                <span class="radio__ico"></span>
                                                Беларусь
                                            </label>

                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_citizenship" class="radio__input">
                                                <span class="radio__ico"></span>
                                                Казахстан
                                            </label>

                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_citizenship" class="radio__input">
                                                <span class="radio__ico"></span>
                                                Другое
                                            </label>
                                        </div>

                                        <div class="slider-form__radio-column">
                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_citizenship" class="radio__input">
                                                <span class="radio__ico"></span>
                                                Кыргызтан
                                            </label>

                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_citizenship" class="radio__input">
                                                <span class="radio__ico"></span>
                                                Таджикистан
                                            </label>

                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_citizenship" class="radio__input">
                                                <span class="radio__ico"></span>
                                                Узбекистан
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="slider-form__nav">
                                    <button class="slider-form__button-prev slider-form__button button2">
                                        <svg width="17" height="16"><use xlink:href="img/sprite.svg#arr"></use></svg>
                                        Вернуться
                                    </button>
                                    <button class="slider-form__button-next slider-form__button button">
                                        Продолжить
                                        <svg width="17" height="16"><use xlink:href="img/sprite.svg#arr"></use></svg>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="slider-form__item swiper-slide">
                            <img src="img/slider-form-img4.webp" class="slider-form__img img-fluid" width="600" height="370" alt="" loading="lazy">
                            <div class="slider-form__item-wrapper">

                                <div class="slider-form__item-wrapper2">
                                    <div class="swiper-pagination-fraction"></div>
                                    <div class="slider-form__pagination"></div>
                                    <div class="slider-form__title">Какие вакансии рассматриваете?</div>
                                    <div class="slider-form__radio-wrapper slider-form__radio-wrapper_row">
                                        <label class="radio radio_custom">
                                            <input type="radio" name="field_vacancy" class="radio__input">
                                            <span class="radio__ico"></span>
                                            Производственные
                                        </label>

                                        <label class="radio radio_custom">
                                            <input type="radio" name="field_vacancy" class="radio__input">
                                            <span class="radio__ico"></span>
                                            Складские
                                        </label>
                                    </div>
                                </div>

                                <div class="slider-form__nav">
                                    <button class="slider-form__button-prev slider-form__button button2">
                                        <svg width="17" height="16"><use xlink:href="img/sprite.svg#arr"></use></svg>
                                        Вернуться
                                    </button>
                                    <button class="slider-form__button-next slider-form__button button">
                                        Продолжить
                                        <svg width="17" height="16"><use xlink:href="img/sprite.svg#arr"></use></svg>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="slider-form__item swiper-slide">
                            <img src="img/slider-form-img5.webp" class="slider-form__img img-fluid" width="600" height="370" alt="" loading="lazy">
                            <div class="slider-form__item-wrapper">

                                <div class="slider-form__item-wrapper2">
                                    <div class="swiper-pagination-fraction"></div>
                                    <div class="slider-form__pagination"></div>
                                    <div class="slider-form__title">Когда планируете начать работу?</div>
                                    <div class="slider-form__radio-wrapper">
                                        <div class="slider-form__radio-column">
                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_begin" class="radio__input">
                                                <span class="radio__ico"></span>
                                                Завтра
                                            </label>

                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_begin" class="radio__input">
                                                <span class="radio__ico"></span>
                                                В течение недели
                                            </label>

                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_begin" class="radio__input">
                                                <span class="radio__ico"></span>
                                                Через 2 недели
                                            </label>

                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_begin" class="radio__input">
                                                <span class="radio__ico"></span>
                                                Через месяц
                                            </label>

                                            <label class="radio radio_custom">
                                                <input type="radio" name="field_begin" class="radio__input">
                                                <span class="radio__ico"></span>
                                                Не спешу, подбираю варианты
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="slider-form__nav">
                                    <button class="slider-form__button-prev slider-form__button button2">
                                        <svg width="17" height="16"><use xlink:href="img/sprite.svg#arr"></use></svg>
                                        Вернуться
                                    </button>
                                    <button class="slider-form__button-next slider-form__button button">
                                        Продолжить
                                        <svg width="17" height="16"><use xlink:href="img/sprite.svg#arr"></use></svg>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="slider-form__item swiper-slide">
                            <img src="img/slider-form-img6.webp" class="slider-form__img img-fluid" width="600" height="370" alt="" loading="lazy">
                            <div class="slider-form__item-wrapper">

                                <div class="slider-form__item-wrapper2">
                                    <div class="swiper-pagination-fraction"></div>
                                    <div class="slider-form__pagination"></div>
                                    <div class="slider-form__title">Укажите ваш возраст</div>
                                    <div class="slider-form__input-wrapper">
                                        <input type="text" id="field_age" placeholder="Введите ваш возраст" class="form-control">
                                    </div>
                                </div>

                                <div class="slider-form__nav">
                                    <button class="slider-form__button-prev slider-form__button button2">
                                        <svg width="17" height="16"><use xlink:href="img/sprite.svg#arr"></use></svg>
                                        Вернуться
                                    </button>
                                    <button data-fancybox data-type="ajax" data-src="forms/modal-contacts.html" class="slider-form__button button">
                                        Продолжить
                                        <svg width="17" height="16"><use xlink:href="img/sprite.svg#arr"></use></svg>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>