/* Контакты (и внутренняя Где купить) */
.contacts-block{

}

.contacts-block__item{
  &:not(:last-child){
    margin-bottom: 30px;
  }
}

.contacts-block__grid{
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  gap: 30px;
  @media only screen and (max-width: 991px) {
    grid-template-columns: minmax(0, 1fr);
    gap: 15px;
  }
  @media only screen and (max-width: 767px) {
    gap: 10px;
  }
}

.contacts-block__fields{
  display: flex;
  flex-direction: column;
  gap: 15px;
  @media only screen and (max-width: 767px) {
    gap: 10px;
  }
}

.contacts-block__field{

}

.contacts-block__field-flex{
  display: flex;
  gap: 15px;
}

.contacts-block__field-wrap{
  display: flex;
  flex-direction: column;
  gap: 5px;
  @media only screen and (max-width: 767px) {
    gap:2px;
  }
}

.contacts-block__field-svg{
  flex-shrink: 0;
  width: 1.25em;
  max-height: 1.25em;
  use{
    fill: var(--color-primary-600);
  }
}

.contacts-block__field-title{
  font-weight: bold;
}

.contacts-block__field-text{
  .socials:not(:first-child){
    margin-top: 5px;
  }

  .phone-wrap:not(:last-child){
      margin-bottom: 5px;
  }
}

.contacts__map{
  margin-top: 10px;
  width: 100%;
  position: relative;
  height: 450px;
  @media only screen and (max-width: 1359px) {
    height: 350px;
  }
  @media only screen and (max-width: 767px) {
    height: 300px;
  }
  @media only screen and (max-width: 575px) {
    height: 250px;
  }
}

.contacts__map-wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;
  z-index: 0; // чтоб кнопки масштаба не были поверх верхнего меню

  &:not(.loader-hide){
    &:before {
      content: '';
      @extend %spinner;
    }
  }

  > ymaps{
    width: 100%!important;
    height: 100%!important;
  }
  > iframe{ // чтоб спиннер скрывался после загрузки карты из конструктора карт
    position: relative;
  }
}

.contacts-block__img-container{

}

.contacts-block__img-container-wrap{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, auto));
  gap: 30px;
  justify-content: space-between;
  @media only screen and (max-width: 767px) {
    grid-template-columns: minmax(0, 1fr);
    gap: 15px;
  }
}
/* /Контакты (и внутренняя Где купить) */


/* Где купить - список */
.contacts-block-list{

}

.contacts-block-list__form-city{

}

.form-control_select-city{
  width: 300px;
  max-width: 100%;
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}

.contacts-block-list__map-container{

}

.contacts-block-list__button{
  display: flex;
  margin-left: auto;
}

.contacts-block-list__map{
  display: none;
  margin-top: 15px;
  position: relative;
  width: 100%;
  height: 650px;
  @media only screen and (max-width: 1359px) {
    height: 350px;
  }
  @media only screen and (max-width: 767px) {
    height: 300px;
  }
  @media only screen and (max-width: 575px) {
    height: 250px;
  }
}

.contacts-block-list__map-wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;
  z-index: 0; // чтоб кнопки масштаба не были поверх верхнего меню

  &:not(.loader-hide){
    &:before {
      content: '';
      @extend %spinner;
    }
  }
}

.contacts-block-list__links{
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
}

.contacts-block-list__link{

}

.contacts-block-list__items{
  &:not(:last-child){
    margin-bottom: 30px;
  }
}

.contacts-block-list__item{
  &:not(:last-child){
    margin-bottom: 30px;
  }
}

.contacts-block-list__name{
  font-size: betterClamp(16, 18);
  font-weight: bold;
}

.contacts-block-list__text{
  display: flex;
  flex-direction: column;
  gap: 5px;

  margin-left: 25px;
  position: relative;
  &:before {
    font-size: 26px;
    line-height:1;
    color: var(--color-primary-600);
    content: '•';
    position: absolute;
    top: 0;
    left: -20px;
  }
}
/* /Где купить - список */

/* ymap */
.ymap-title{ // title

}

.ymap-ico{
  width: 30px;
  height: 30px;
}

.ymap{

}

.ymap__title{
  font-weight: bold;
}

.ymap__text{

}

.ymap__flex{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.ymap__img{
  max-width: 100px;
  max-height: 100px;
  flex-shrink: 0;
  border-radius: 3px;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.15), 0 2px 5px -3px rgba(0,0,0,.15);
  &:hover{
    box-shadow: var(--shadow-hover);
  }
}

.ymap__text-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ymap__btns{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  max-width: min-content;
}

.ymap__btn{
  display: flex;
  align-items: center;
  gap: 5px;

  color: var(--color-text-800);
  font-size: betterClamp(14, 16);
  line-height: 1.1;
  text-decoration: none;

  padding: 3px 5px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.15), 0 2px 5px -3px rgba(0,0,0,.15);
  transition: box-shadow 0.1s ease-in-out;
  &:hover{
    text-decoration: none;
    box-shadow: var(--shadow-hover);
  }

  svg{
    flex-shrink: 0;
  }
}
/* /ymap */