<div class="slider-sections slider-sections_margin section">
    <div class="container">
        <div class="slider-sections-wrapper">
            <div class="swiper">
                <div class="swiper-wrapper">

                    <a href="#" class="slider-sections__item swiper-slide">
                        Вакансии в<br> Твери
                    </a>
                    <a href="#" class="slider-sections__item swiper-slide">
                        Вакансии в<br> Торжке
                    </a>
                    <a href="#" class="slider-sections__item swiper-slide">
                        Вакансии в<br> Санкт-Петербурге
                    </a>
                    <a href="#" class="slider-sections__item swiper-slide">
                        Вакансии в<br> Брянске
                    </a>
                    <a href="#" class="slider-sections__item swiper-slide">
                        Вакансии в<br> Ростове-на-Дону
                    </a>
                    <a href="#" class="slider-sections__item swiper-slide">
                        Вакансии в<br> Новочеркасске
                    </a>
                    <a href="#" class="slider-sections__item swiper-slide">
                        Вакансии в<br> Твери
                    </a>

                </div>
            </div>

            <div class="nav-blocks container">
                <button class="swiper-button-prev-custom">
                    <svg><use xlink:href="img/sprite.svg#arrow-left"></use></svg>
                </button>
                <button class="swiper-button-next-custom">
                    <svg><use xlink:href="img/sprite.svg#arrow-left"></use></svg>
                </button>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>
</div>