<div class="offices section section_p section_bg section_bg-no-repeat" data-bg="img/offices-bg.webp">
    <div class="container">

        <div class="title-wrapper">
            <div class="h2">ОФИСЫ ФОБОС</div>
            <div class="sub-title">Работаем по всей России</div>
        </div>

        <div class="offices__grid">

            <div class="offices__item offices__item_big">
                <img src="img/offices-ico.svg" width="50" height="50" class="offices__ico img-fluid" alt="" loading="lazy">
                <div class="offices__title">Тверь</div>
                <div class="offices__address">наб. Афанасия Никитина, д.144, 2 эт.</div>
                <a href="tel:+79157324044" class="offices__phone nowrap" title="Позвонить">+7 (903) 630-38-83</a>
            </div>

            <div class="offices__item offices__item_big">
                <img src="img/offices-ico.svg" width="50" height="50" class="offices__ico img-fluid" alt="" loading="lazy">
                <div class="offices__title">Торжок</div>
                <div class="offices__address">ул. Красный городок, д.1</div>
                <a href="tel:+79157324044" class="offices__phone nowrap" title="Позвонить">+7 (960) 709-52-99</a>
            </div>

            <div class="offices__item offices__item_big">
                <img src="img/offices-ico.svg" width="50" height="50" class="offices__ico img-fluid" alt="" loading="lazy">
                <div class="offices__title">Санкт-Петербург</div>
                <div class="offices__address">Ленинский пр-кт, д.168, оф.504, 5 эт.</div>
                <a href="tel:+79157324044" class="offices__phone nowrap" title="Позвонить">+7 (964) 613-77-17</a>
            </div>

            <div class="offices__item">
                <img src="img/offices-ico.svg" width="50" height="50" class="offices__ico img-fluid" alt="" loading="lazy">
                <div class="offices__title">Брянск</div>
                <div class="offices__address">ул. Ульянова, д.16, оф.9, 2 эт.</div>
                <a href="tel:+79157324044" class="offices__phone nowrap" title="Позвонить">+7 (961) 001-51-03</a>
            </div>

            <div class="offices__item">
                <img src="img/offices-ico.svg" width="50" height="50" class="offices__ico img-fluid" alt="" loading="lazy">
                <div class="offices__title">Ростов-на-Дону</div>
                <div class="offices__address">ул. Береговая, д.10, 4 эт.</div>
                <a href="tel:+79157324044" class="offices__phone nowrap" title="Позвонить">+7 (918) 439-71-46</a>
            </div>

            <div class="offices__item">
                <img src="img/offices-ico.svg" width="50" height="50" class="offices__ico img-fluid" alt="" loading="lazy">
                <div class="offices__title">Новочеркасск</div>
                <div class="offices__address">ул. Московская, д.6, оф.2, 2 эт.</div>
                <a href="tel:+79157324044" class="offices__phone nowrap" title="Позвонить">+7 (918) 439-71-46</a>
            </div>

            <div class="offices__item">
                <img src="img/offices-ico.svg" width="50" height="50" class="offices__ico img-fluid" alt="" loading="lazy">
                <div class="offices__title">Киров</div>
                <div class="offices__address">ул. Горьково, д.5, оф.702, 7 эт.</div>
            </div>

        </div>

    </div>
</div>