<div class="reputation section section_mb-sm ">
    <div class="container">
        <div class="reputation__grid mb">
            <div class="reputation__title-wrapper">
                <h1>
                    Частное<br> агентство занятости
                    <span class="reputation__title-big">Фобос</span>
                </h1>
            </div>

            <div class="reputation__list">
                <div class="reputation__item">
                    <img src="img/reputation-ico1.svg" class="reputation__item-img img-fluid" alt="">
                    <div class="reputation__item-title">Наши партнеры</div>
                    <div class="reputation__item-text">ведущие компании, которые зарекомендовали себя на рынке</div>
                </div>
                <div class="reputation__item">
                    <img src="img/reputation-ico2.svg" class="reputation__item-img img-fluid" alt="">
                    <div class="reputation__item-title">Наши специалисты</div>
                    <div class="reputation__item-text">самые востребованные соискатели<br> на рынке труда</div>
                </div>
            </div>

        </div>

        <div class="text-bottom text-elements mb">
            <p><b>ФОБОС - частное агентство занятости (ЧАЗ)</b> – юридическое лицо, зарегистрированное на территории РФ и прошедшее аккредитацию в качестве частного агентства занятости с правом ведения деятельности, связанной с предоставлением труда работников.</p>
            <p><b>ЧАЗ "Фобос" начал свою деятельность в 2011г.</b> Специализируемся на предоставлении услуг по организации бригад работников для производства и складской логистики, а также оперативном управлении этими бригадами. Аккредитация № А-2/69 от 13.02.2019 г. <a href="#">Смотреть документацию организации »</a></p>
        </div>
    </div>
</div>