<div class="video-gallery-fb section section_mb">
    <div class="container">

        <div class="title-wrapper">
            <div class="h1">Видеогалерея fancybox</div>
        </div>

        <div class="grid mb" style="--col-xl:4; --col-lg:3; --col:2;">

            <a class="video-gallery-fb__item" data-fancybox="video" href="https://youtu.be/sHq8kEEbDn0">
                <div class="video-gallery-fb__img-container aspect_ratio_16by9">
                    <img src="https://img.youtube.com/vi/sHq8kEEbDn0/mqdefault.jpg" width="320" height="180" class="video-gallery-fb__img" alt="" loading="lazy">
                </div>
                <div class="video-gallery-fb__title">Youtube</div>
            </a>

            <a class="video-gallery-fb__item" data-fancybox="video" href="https://www.youtube.com/shorts/PWKqOxC9a1E">
                <div class="video-gallery-fb__img-container aspect_ratio_16by9">
                    <img src="https://img.youtube.com/vi/PWKqOxC9a1E/mqdefault.jpg" width="320" height="180" class="video-gallery-fb__img" alt="" loading="lazy">
                </div>
                <div class="video-gallery-fb__title">Youtube shorts</div>
            </a>

            <a class="video-gallery-fb__item" data-fancybox="video" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
                <div class="video-gallery-fb__img-container aspect_ratio_16by9">
                    <img src="https://img.youtube.com/vi/sHq8kEEbDn0/mqdefault.jpg" width="320" height="180" class="video-gallery-fb__img" alt="" loading="lazy">
                </div>
                <div class="video-gallery-fb__title">Youtube длинное название длинное название длинное название</div>
            </a>

            <a class="video-gallery-fb__item" data-fancybox="video" data-type="iframe" href="//vk.com/video_ext.php?oid=-140359831&id=456239616&hash=5f28c5c2f0422cce&hd=2">
                <div class="video-gallery-fb__img-container">
                    @@include('_includes/no-img.html')
                </div>
                <div class="video-gallery-fb__title">Вконтакте</div>
            </a>

            <a class="video-gallery-fb__item" data-fancybox="video" data-type="iframe" href="//rutube.ru/play/embed/10890081">
                <div class="video-gallery-fb__img-container">
                    @@include('_includes/no-img.html')
                </div>
                <div class="video-gallery-fb__title">Iframe с Rutube</div>
            </a>

            <a class="video-gallery-fb__item" data-fancybox="video" data-src="#video_id5" href="#">
                <video id="video_id5" data-src="https://mastweb.ru/video/html5_demo_video.mp4" loop class="lazy video-block-fancybox__img"></video>
                <div class="video-gallery-fb__img-container">
                    @@include('_includes/no-img.html')
                </div>
                <div class="video-gallery-fb__title">html5 видео</div>
            </a>

        </div>

    </div>
</div>