<div class="video-gallery section section_mb">
    <div class="container">
        <div class="title-wrapper">
            <div class="h2">Видеогалерея</div>
        </div>

        <div class="grid mb" style="--col-lg:3; --col:2;">

            <div class="video-gallery__item">
                <div class="video-container">
                    <iframe data-src="https://www.youtube.com/embed/sHq8kEEbDn0" width="560" height="315" class="lazy" allowfullscreen></iframe>
                </div>
                <div class="video-gallery__title">Youtube</div>
            </div>

            <div class="video-gallery__item">
                <div class="video-container">
                    <iframe data-src="https://www.youtube.com/embed/PWKqOxC9a1E" width="560" height="315" class="lazy" allowfullscreen></iframe>
                </div>
                <div class="video-gallery__title">Youtube shorts</div>
            </div>

            <div class="video-gallery__item">
                <div class="video-container">
                    <iframe src="https://player.vimeo.com/video/9468855" width="560" height="315" class="lazy" allowfullscreen></iframe>
                </div>
                <div class="video-gallery__title">Vimeo</div>
            </div>

            <div class="video-gallery__item">
                <div class="video-container aspect_ratio_21by9">
                    <iframe data-src="https://player.vimeo.com/video/216802414" width="560" height="315" class="lazy" allowfullscreen></iframe>
                </div>
                <div class="video-gallery__title">Vimeo 21:9</div>
            </div>

            <div class="video-gallery__item">
                <div class="video-container">
                    <iframe data-src="//vk.com/video_ext.php?oid=-140359831&id=456239616&hash=5f28c5c2f0422cce&hd=2" width="560" height="315" class="lazy" allowfullscreen></iframe>
                </div>
                <div class="video-gallery__title">Вконтакте</div>
            </div>

            <div class="video-gallery__item">
                <div class="video-container">
                    <iframe data-src="//rutube.ru/play/embed/10890081" width="560" height="315" class="lazy" allowfullscreen></iframe>
                </div>
                <div class="video-gallery__title">Iframe с Rutube</div>
            </div>

            <div class="video-gallery__item">
                <div class="video-container">
                    <iframe data-src="https://www.youtube.com/embed/sHq8kEEbDn0" width="560" height="315" class="lazy" allowfullscreen></iframe>
                </div>
                <div class="video-gallery__title">Название видео Название видео Название видео Название видео</div>
            </div>

            <div class="video-gallery__item">
                <div class="ckeditor-html5-video aspect_ratio_original">
                    <video data-src="https://mastweb.ru/video/html5_demo_video.mp4" autoplay playsinline loop muted controls class="lazy img-fluid"></video>
                </div>
                <div class="video-gallery__title">html5 видео</div>
            </div>

        </div>
    </div>
</div>