<div class="socials @@class">
    <a href="https://wa.me/79001112233" class="socials__item socials__item_whatsapp" target="_blank" title="WhatsApp" style="--logo-color: #25D366" onclick="ym(yaC, 'reachGoal', 'WHATSAPP'); return true;">
        <svg><use xlink:href="img/sprite.svg#s-whatsapp"></use></svg>
    </a>
<!--    <a href="viber://chat?number=79001112233" class="socials__item socials__item_viber" target="_blank" title="Viber" style="&#45;&#45;logo-color: #675CA8" onclick="ym(yaC, 'reachGoal', 'VIBER'); return true;">-->
<!--        <svg><use xlink:href="img/sprite.svg#s-viber"></use></svg>-->
<!--    </a>-->
    <a href="https://t.me/имя_пользователя" class="socials__item socials__item_telegram" target="_blank" title="Telegram" style="--logo-color: #0088cc">
        <svg><use xlink:href="img/sprite.svg#s-telegram"></use></svg>
    </a>
    <a href="#" class="socials__item socials__item_vk" target="_blank" title="Вконтакте" style="--logo-color: #45668e">
        <svg><use xlink:href="img/sprite.svg#s-vk"></use></svg>
    </a>
</div>