<div class="socials @@class">
  <a href="#" class="socials__item socials__item_vk" target="_blank" title="Вконтакте" style="--logo-color: #45668e">
    <svg><use xlink:href="img/sprite.svg#s-vk"></use></svg>
  </a>
  <a href="#" class="socials__item socials__item_fb" target="_blank" title="Facebook" style="--logo-color: #3b5998">
    <svg><use xlink:href="img/sprite.svg#s-facebook"></use></svg>
  </a>
  <a href="#" class="socials__item socials__item_twitter" target="_blank" title="Twitter" style="--logo-color: #1da1f2">
    <svg><use xlink:href="img/sprite.svg#s-twitter"></use></svg>
  </a>
  <a href="#" class="socials__item socials__item_instagram" target="_blank" title="Instagram" style="--logo-color: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF)">
    <svg><use xlink:href="img/sprite.svg#s-instagram"></use></svg>
  </a>
  <a href="#" class="socials__item socials__item_ok" target="_blank" title="Одноклассники" style="--logo-color: #ed812b">
    <svg><use xlink:href="img/sprite.svg#s-odnoklassniki"></use></svg>
  </a>
  <a href="#" class="socials__item socials__item_youtube" target="_blank" title="Youtube" style="--logo-color: #ff0000">
    <svg><use xlink:href="img/sprite.svg#s-youtube"></use></svg>
  </a>
</div>