.breadcrumbs{
  flex: none;
  @media only screen and (max-width: 767px) {
    display: none;
  }
  margin-top: 20px;
  margin-bottom: 60px;
  @media only screen and (max-width: 1359px) {
    margin-bottom: 50px;
  }
  @media only screen and (max-width: 991px) {
    margin-bottom: 30px;
  }
}

.breadcrumbs__list{
  @include list-unstyled;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 0;
}

.breadcrumbs__item{
  display: flex;
  align-items: center;

  font-size: 13px;
  //line-height: 1;
  line-height: 1.40;

  // separator
  &:not(:last-child):after{
    margin: 0 5px;

    content: '';
    background-image: url('../img/sprite.svg#separator');
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 10px;
  }
}

.breadcrumbs__link{
  color: var(--color-text-800);
  &[href]{
    color: var(--color-text-600);
    &:hover{
      color: var(--color-text-400);
    }
  }

  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 450px;
  overflow-x: clip;
}