<div class="vacancies-list section section_p section_bgc section_slider-carousel" style="background: var(--gradient-bg);">
    <div class="container">

        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                sliderSectionCarousel('vacancies-list.section_slider-carousel', 1, 2, 2, 3, 4, 4);
            });
        </script>

        <div class="title-wrapper">
            <div class="h2">ГОРЯЩИЕ ВАКАНСИИ В ТВЕРИ</div>
            <div class="sub-title">Работа на производственных предприятиях и в логистических центрах</div>
        </div>

        <div class="grid-flex justify-content-center mb" style="--col-xl:4; --col-lg:3; --col-sm:2; --col:1;">

            <div class="vacancies-list__item">
                <div class="vacancies-list__item-wrapper">
                    <div class="vacancies-list__img-container">
                        <img src="img/vacancies1.webp" width="300" height="180" class="vacancies-list__img img-fluid" alt="" loading="lazy">
                    </div>
                    <div class="vacancies-list__wrapper">
                        <div class="vacancies-list__city">Тверь</div>
                        <div class="vacancies-list__price">370 ₽/ч</div>
                    </div>
                    <div class="vacancies-list__text-container">
                        <div class="vacancies-list__name">Распределитель работ</div>
                        <button class="vacancies-list__button button" data-fancybox data-type="ajax" data-src="forms/modal-order.html">Откликнуться на вакансию</button>
                    </div>
                    <a href="#" class="vacancies-list__link"></a>
                </div>
            </div>

            <div class="vacancies-list__item">
                <div class="vacancies-list__item-wrapper">
                    <div class="vacancies-list__img-container">
                        <img src="img/vacancies2.webp" width="300" height="180" class="vacancies-list__img img-fluid" alt="" loading="lazy">
                    </div>
                    <div class="vacancies-list__wrapper">
                        <div class="vacancies-list__city">Тверь</div>
                        <div class="vacancies-list__price">550 ₽/ч</div>
                    </div>
                    <div class="vacancies-list__text-container">
                        <div class="vacancies-list__name">Слесарь-электромонтажник</div>
                        <button class="vacancies-list__button button" data-fancybox data-type="ajax" data-src="forms/modal-order.html">Откликнуться на вакансию</button>
                    </div>
                    <a href="#" class="vacancies-list__link"></a>
                </div>
            </div>

            <div class="vacancies-list__item">
                <div class="vacancies-list__item-wrapper">
                    <div class="vacancies-list__img-container">
                        <img src="img/vacancies3.webp" width="300" height="180" class="vacancies-list__img img-fluid" alt="" loading="lazy">
                    </div>
                    <div class="vacancies-list__wrapper">
                        <div class="vacancies-list__city">Тверь</div>
                        <div class="vacancies-list__price">480 ₽/ч</div>
                    </div>
                    <div class="vacancies-list__text-container">
                        <div class="vacancies-list__name">Электросварщик</div>
                        <button class="vacancies-list__button button" data-fancybox data-type="ajax" data-src="forms/modal-order.html">Откликнуться на вакансию</button>
                    </div>
                    <a href="#" class="vacancies-list__link"></a>
                </div>
            </div>

            <div class="vacancies-list__item">
                <div class="vacancies-list__item-wrapper">
                    <div class="vacancies-list__img-container">
                        <img src="img/vacancies4.webp" width="300" height="180" class="vacancies-list__img img-fluid" alt="" loading="lazy">
                    </div>
                    <div class="vacancies-list__wrapper">
                        <div class="vacancies-list__city">Тверь</div>
                        <div class="vacancies-list__price">550 ₽/ч</div>
                    </div>
                    <div class="vacancies-list__text-container">
                        <div class="vacancies-list__name">Слесарь по сборке МК</div>
                        <button class="vacancies-list__button button" data-fancybox data-type="ajax" data-src="forms/modal-order.html">Откликнуться на вакансию</button>
                    </div>
                    <a href="#" class="vacancies-list__link"></a>
                </div>
            </div>

            <div class="vacancies-list__item">
                <div class="vacancies-list__item-wrapper">
                    <div class="vacancies-list__img-container">
                        @@include('_includes/no-img.html')
                    </div>
                    <div class="vacancies-list__wrapper">
                        <div class="vacancies-list__city">Тверь</div>
                        <div class="vacancies-list__price">370 ₽/ч</div>
                    </div>
                    <div class="vacancies-list__text-container">
                        <div class="vacancies-list__name">Распределитель работ</div>
                        <button class="vacancies-list__button button" data-fancybox data-type="ajax" data-src="forms/modal-order.html">Откликнуться на вакансию</button>
                    </div>
                    <a href="#" class="vacancies-list__link"></a>
                </div>
            </div>

        </div>

        <div class="button-container mb">
            <a href="#" class="button2">Смотреть все вакансии</a>
        </div>

    </div>
</div>