<div class="vacancies-list section section_mb">
    <div class="container">

        <div class="grid mb" style=" --col-lg:3; --col-sm:2; --col:1;">

            <div class="vacancies-list__item">
                <div class="vacancies-list__item-wrapper">
                    <div class="vacancies-list__img-container">
                        <img src="img/vacancies1.webp" class="vacancies-list__img img-fluid" alt="">
                    </div>
                    <div class="vacancies-list__wrapper">
                        <div class="vacancies-list__city">Тверь</div>
                        <div class="vacancies-list__price">370 ₽/ч</div>
                    </div>
                    <div class="vacancies-list__text-container">
                        <div class="vacancies-list__name">Распределитель работ</div>
                        <button class="vacancies-list__button button" data-fancybox data-type="ajax" data-src="forms/modal-order.html">Откликнуться на вакансию</button>
                    </div>
                    <a href="#" class="vacancies-list__link"></a>
                </div>
            </div>

            <div class="vacancies-list__item">
                <div class="vacancies-list__item-wrapper">
                    <div class="vacancies-list__img-container">
                        <img src="img/vacancies2.webp" class="vacancies-list__img img-fluid" alt="">
                    </div>
                    <div class="vacancies-list__wrapper">
                        <div class="vacancies-list__city">Тверь</div>
                        <div class="vacancies-list__price">550 ₽/ч</div>
                    </div>
                    <div class="vacancies-list__text-container">
                        <div class="vacancies-list__name">Слесарь-электромонтажник</div>
                        <button class="vacancies-list__button button" data-fancybox data-type="ajax" data-src="forms/modal-order.html">Откликнуться на вакансию</button>
                    </div>
                    <a href="#" class="vacancies-list__link"></a>
                </div>
            </div>

            <div class="vacancies-list__item">
                <div class="vacancies-list__item-wrapper">
                    <div class="vacancies-list__img-container">
                        <img src="img/vacancies3.webp" class="vacancies-list__img img-fluid" alt="">
                    </div>
                    <div class="vacancies-list__wrapper">
                        <div class="vacancies-list__city">Тверь</div>
                        <div class="vacancies-list__price">480 ₽/ч</div>
                    </div>
                    <div class="vacancies-list__text-container">
                        <div class="vacancies-list__name">Электросварщик</div>
                        <button class="vacancies-list__button button" data-fancybox data-type="ajax" data-src="forms/modal-order.html">Откликнуться на вакансию</button>
                    </div>
                    <a href="#" class="vacancies-list__link"></a>
                </div>
            </div>

            <div class="vacancies-list__item">
                <div class="vacancies-list__item-wrapper">
                    <div class="vacancies-list__img-container">
                        <img src="img/vacancies4.webp" class="vacancies-list__img img-fluid" alt="">
                    </div>
                    <div class="vacancies-list__wrapper">
                        <div class="vacancies-list__city">Тверь</div>
                        <div class="vacancies-list__price">550 ₽/ч</div>
                    </div>
                    <div class="vacancies-list__text-container">
                        <div class="vacancies-list__name">Слесарь по сборке МК</div>
                        <button class="vacancies-list__button button" data-fancybox data-type="ajax" data-src="forms/modal-order.html">Откликнуться на вакансию</button>
                    </div>
                    <a href="#" class="vacancies-list__link"></a>
                </div>
            </div>

            <div class="vacancies-list__item">
                <div class="vacancies-list__item-wrapper">
                    <div class="vacancies-list__img-container">
                        @@include('_includes/no-img.html')
                    </div>
                    <div class="vacancies-list__wrapper">
                        <div class="vacancies-list__city">Тверь</div>
                        <div class="vacancies-list__price">370 ₽/ч</div>
                    </div>
                    <div class="vacancies-list__text-container">
                        <div class="vacancies-list__name">Распределитель работ</div>
                        <button class="vacancies-list__button button" data-fancybox data-type="ajax" data-src="forms/modal-order.html">Откликнуться на вакансию</button>
                    </div>
                    <a href="#" class="vacancies-list__link"></a>
                </div>
            </div>

            <div class="vacancies-list__item">
                <div class="vacancies-list__item-wrapper">
                    <div class="vacancies-list__img-container">
                        @@include('_includes/no-img.html')
                    </div>
                    <div class="vacancies-list__wrapper">
                        <div class="vacancies-list__city">Тверь</div>
                        <div class="vacancies-list__price">370 ₽/ч</div>
                    </div>
                    <div class="vacancies-list__text-container">
                        <div class="vacancies-list__name">Распределитель работ</div>
                        <button class="vacancies-list__button button" data-fancybox data-type="ajax" data-src="forms/modal-order.html">Откликнуться на вакансию</button>
                    </div>
                    <a href="#" class="vacancies-list__link"></a>
                </div>
            </div>

        </div>

    </div>
</div>