<div class="menu-top">
    <nav class="container menu-top__container">
        <ul class="menu-top_list">
            <li class="menu-top_item menu-top_item_selected"><span class="menu-top__link">Главная</span></li>
            <li class="menu-top_item"><a href="#" class="menu-top__link">О компании</a></li>
            <li class="menu-top_item">
                <a href="#" class="menu-top__link">Услуги</a>
                <ul class="menu-top__submenu menu-top__submenu_level1">
                    <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Аутсорсинг</a></li>
                    <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Аутстаффинг</a></li>
                </ul>
            </li>
            <li class="menu-top_item">
                <a href="#" class="menu-top__link">Вакансии</a>
                <ul class="menu-top__submenu menu-top__submenu_level1">
                    <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Вакансии в Твери</a></li>
                    <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Вакансии в Торжке</a></li>
                    <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Вакансии в Санкт-Петербурге</a></li>
                    <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Вакансии в Брянске</a></li>
                    <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Вакансии в Ростове-на-Дону</a></li>
                    <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Вакансии в Новочеркасске</a></li>
                    <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Вакансии в Кирове</a></li>
                    <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Вакансии в Сафоново</a></li>
                    <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Вакансии в Пушкино</a></li>
                    <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Вакансии в Солнечногорске</a></li>
                </ul>
            </li>
            <li class="menu-top_item"><a href="#" class="menu-top__link">Контакты</a></li>
        </ul>
    </nav>
</div>