<div class="menu-top">
    <nav class="container menu-top__container">
        <ul class="menu-top_list">
            <li class="menu-top_item menu-top_item_selected"><span class="menu-top__link">Главная</span></li>
            <li class="menu-top_item">
                <a href="#" class="menu-top__link">О компании</a>
                <ul class="menu-top__submenu menu-top__submenu_level1">
                    <li class="menu-top__submenu-item">
                        <a href="#" class="menu-top__submenu-link">Наша продукция</a>
                        <ul class="menu-top__submenu menu-top__submenu_level2">
                            <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Газосиликатные блоки</a></li>
                            <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Трехслойные несущие блоки с теплоизоляционным слоем</a></li>
                            <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Товары для сада</a></li>
                        </ul>
                    </li>
                    <li class="menu-top__submenu-item">
                        <a href="#" class="menu-top__submenu-link">Проектирование коттеджей и ландшафтный дизайн</a>
                        <ul class="menu-top__submenu menu-top__submenu_level2">
                            <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Подраздел 1</a></li>
                            <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Подраздел 2</a></li>
                            <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Подраздел 3</a></li>
                        </ul>
                    </li>
                    <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Строительство коттеджей</a></li>
                    <li class="menu-top__submenu-item">
                        <a href="#" class="menu-top__submenu-link">Аренда техники</a>
                        <ul class="menu-top__submenu menu-top__submenu_level2">
                            <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Подраздел 4</a></li>
                            <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Подраздел 5</a></li>
                            <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Подраздел 6</a></li>
                        </ul>
                    </li>
                    <li class="menu-top__submenu-item"><a href="#" class="menu-top__submenu-link">Бетонные работы</a></li>
                </ul>
            </li>
            <li class="menu-top_item"><a href="#" class="menu-top__link">Услуги</a></li>
            <li class="menu-top_item"><a href="#" class="menu-top__link">Вакансии</a></li>
            <li class="menu-top_item"><a href="#" class="menu-top__link">Контакты</a></li>
        </ul>
    </nav>
</div>